.ol-loading-indicator {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 64px;
  background: linear-gradient(0deg, rgba(34, 61, 180, 0.2) 33%, var(--primary) 100%);
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;

  &.ol-loading {
    opacity: 1;
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
  }
}
