.result-view {
  section > .row:first-child {
    align-items: flex-start;
  }

  .info-bar {
    display: flex;
    gap: 1rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: var(--typography-spacing-vertical);
  }

  .abstract {
    position: relative;
    white-space: pre-wrap;
    max-height: 25vh;
    overflow: auto;
    margin-bottom: var(--typography-spacing-vertical);

    &:after {
      display: block;
      position: sticky;
      clear: both;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background: linear-gradient(rgba(255, 255, 255, 0), var(--background-color));
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    .thumbnail {
      float: right;
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 0 0 1rem 1rem;
      border-radius: var(--border-radius);

      @media (max-width: 800px) {
        display: block;
        float: none;
        margin: 0 auto 1rem;
      }
    }
  }

  @media (max-width: 800px) {
    p.row {
      flex-direction: column;
    }
  }
}
