.row {
  display: flex;
  align-items: center;
  gap: var(--spacing);

  & > {
    input:not([type="radio"]):not([type="checkbox"]):not([type="search"]),
    select,
    button {
      width: auto;
    }
  }

  [data-grow] {
    flex-grow: 1;
  }

  & > * {
    margin: 0 !important;
  }

  &.align-top {
    align-items: flex-start;
  }
  &.align-bottom {
    align-items: flex-end;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
